# 파이썬 데이터베이스 연동

pymysql을 이용하여

## 데이터 베이스 접속

데이터베이스 샘플 자료는 아래 공식 주소에서 다운 받았다.  
https://www.mysqltutorial.org/mysql-sample-database.aspx

In [22]:
!pip install pymysql

Requirement already satisfied: pymysql in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.0.2)

In [20]:
import pymysql

In [21]:
#데이터베이스 연결 전 데이터 기본 세팅
host_name = 'localhost'
port = 3306
user_name = 'root'
user_password = 'Hmmteresting@@'
database_name = 'classicmodels'

데이터베이스와 직접 연결하기 위해 필요한 정보이다.
<ul>
    <li>host_name: 데이터베이스의 주소로 ip주소 혹은 url을 사용하여서 정의한다.</li>
    <li>port: 접속하는 포트번호</li>
    <li>user_name: 데이터베이스에 등록된 사용자명</li>
    <li>user_password: 사용자의 비밀번호 입력</li>
    <li>database_name: 접속하고 싶은 스키마명</li>
</ul>

In [23]:
test_db = pymysql.connect( 
    host = host_name,
    port = port,
    user = user_name,
    passwd = user_password,
    db = database_name,
    charset = 'utf8'
)

##  판다스를 사용하여 데이터 조회

일반적으로는 cursor를 좀 더 많이 사용한다

In [24]:
import pandas as pd

In [26]:
SQL = 'SELECT * FROM employees'
df = pd.read_sql(SQL, test_db)

In [27]:
df

,employeeNumber,lastName,firstName,extension,email,officeCode,reportsTo,jobTitle
0,1002,Murphy,Diane,x5800,dmurphy@classicmodelcars.com,1,NaN,President
1,1056,Patterson,Mary,x4611,mpatterso@classicmodelcars.com,1,1002.0,VP Sales
2,1076,Firrelli,Jeff,x9273,jfirrelli@classicmodelcars.com,1,1002.0,VP Marketing
3,1088,Patterson,William,x4871,wpatterson@classicmodelcars.com,6,1056.0,Sales Manager (APAC)
4,1102,Bondur,Gerard,x5408,gbondur@classicmodelcars.com,4,1056.0,Sale Manager (EMEA)
5,1143,Bow,Anthony,x5428,abow@classicmodelcars.com,1,1056.0,Sales Manager (NA)
6,1165,Jennings,Leslie,x3291,ljennings@classicmodelcars.com,1,1143.0,Sales Rep
7,1166,Thompson,Leslie,x4065,lthompson@classicmodelcars.com,1,1143.0,Sales Rep
8,1188,Firrelli,Julie,x2173,jfirrelli@classicmodelcars.com,2,1143.0,Sales Rep
9,1216,Patterson,Steve,x4334,spatterson@classicmodelcars.com,2,1143.0,Sales Rep
10,1286,Tseng,Foon Yue,x2248,ftseng@classicmodelcars.com,3,1143.0,Sales Rep
11,1323,Vanauf,George,x4102,gvanauf@classicmodelcars.com,3,1143.0,Sales Rep
12,1337,Bondur,Loui,x6493,lbondur@classicmodelcars.com,4,1102.0,Sales Rep
13,1370,Hernandez,Gerard,x2028,ghernande@classicmodelcars.com,4,1102.0,Sales Rep
14,1401,Castillo,Pamela,x2759,pcastillo@classicmodelcars.com,4,1102.0,Sales Rep
15,1501,Bott,Larry,x2311,lbott@classicmodelcars.com,7,1102.0,Sales Rep
16,1504,Jones,Barry,x102,bjones@classicmodelcars.com,7,1102.0,Sales Rep
17,1611,Fixter,Andy,x101,afixter@classicmodelcars.com,6,1088.0,Sales Rep
18,1612,Marsh,Peter,x102,pmarsh@classicmodelcars.com,6,1088.0,Sales Rep
19,1619,King,Tom,x103,tking@classicmodelcars.com,6,1088.0,Sales Rep
20,1621,Nishi,Mami,x101,mnishi@classicmodelcars.com,5,1056.0,Sales Rep
21,1625,Kato,Yoshimi,x102,ykato@classicmodelcars.com,5,1621.0,Sales Rep
22,1702,Gerard,Martin,x2312,mgerard@classicmodelcars.com,4,1102.0,Sales Rep

## 커서를 사용하여 데이터 조회

In [30]:
# 커서 설정
test_cursor = test_db.cursor(pymysql.cursors.DictCursor)

커서 반환 시 2가지 방법이 있다.
<ul>
    <li>DictCursor: Python에서 주로 사용하는 pandas에서 사용하기 쉽게 딕션어리 형태로 결과를 반환 받는다.</li>
    <li>cursor: 일반적으로 tuple형태로 리턴된다.</li>
</ul>

In [39]:
#.fetchall()
SQL = 'SELECT * FROM employees'
test_cursor.execute(SQL)         #execute를 사용하여서 sql문을 실행한다.

23

In [40]:
data = test_cursor.fetchall()
print(data)
print('타입: ', type(data))

[{'employeeNumber': 1002, 'lastName': 'Murphy', 'firstName': 'Diane', 'extension': 'x5800', 'email': 'dmurphy@classicmodelcars.com', 'officeCode': '1', 'reportsTo': None, 'jobTitle': 'President'}, {'employeeNumber': 1056, 'lastName': 'Patterson', 'firstName': 'Mary', 'extension': 'x4611', 'email': 'mpatterso@classicmodelcars.com', 'officeCode': '1', 'reportsTo': 1002, 'jobTitle': 'VP Sales'}, {'employeeNumber': 1076, 'lastName': 'Firrelli', 'firstName': 'Jeff', 'extension': 'x9273', 'email': 'jfirrelli@classicmodelcars.com', 'officeCode': '1', 'reportsTo': 1002, 'jobTitle': 'VP Marketing'}, {'employeeNumber': 1088, 'lastName': 'Patterson', 'firstName': 'William', 'extension': 'x4871', 'email': 'wpatterson@classicmodelcars.com', 'officeCode': '6', 'reportsTo': 1056, 'jobTitle': 'Sales Manager (APAC)'}, {'employeeNumber': 1102, 'lastName': 'Bondur', 'firstName': 'Gerard', 'extension': 'x5408', 'email': 'gbondur@classicmodelcars.com', 'officeCode': '4', 'reportsTo': 1056, 'jobTitle': 'Sale Manager (EMEA)'}, {'employeeNumber': 1143, 'lastName': 'Bow', 'firstName': 'Anthony', 'extension': 'x5428', 'email': 'abow@classicmodelcars.com', 'officeCode': '1', 'reportsTo': 1056, 'jobTitle': 'Sales Manager (NA)'}, {'employeeNumber': 1165, 'lastName': 'Jennings', 'firstName': 'Leslie', 'extension': 'x3291', 'email': 'ljennings@classicmodelcars.com', 'officeCode': '1', 'reportsTo': 1143, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1166, 'lastName': 'Thompson', 'firstName': 'Leslie', 'extension': 'x4065', 'email': 'lthompson@classicmodelcars.com', 'officeCode': '1', 'reportsTo': 1143, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1188, 'lastName': 'Firrelli', 'firstName': 'Julie', 'extension': 'x2173', 'email': 'jfirrelli@classicmodelcars.com', 'officeCode': '2', 'reportsTo': 1143, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1216, 'lastName': 'Patterson', 'firstName': 'Steve', 'extension': 'x4334', 'email': 'spatterson@classicmodelcars.com', 'officeCode': '2', 'reportsTo': 1143, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1286, 'lastName': 'Tseng', 'firstName': 'Foon Yue', 'extension': 'x2248', 'email': 'ftseng@classicmodelcars.com', 'officeCode': '3', 'reportsTo': 1143, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1323, 'lastName': 'Vanauf', 'firstName': 'George', 'extension': 'x4102', 'email': 'gvanauf@classicmodelcars.com', 'officeCode': '3', 'reportsTo': 1143, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1337, 'lastName': 'Bondur', 'firstName': 'Loui', 'extension': 'x6493', 'email': 'lbondur@classicmodelcars.com', 'officeCode': '4', 'reportsTo': 1102, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1370, 'lastName': 'Hernandez', 'firstName': 'Gerard', 'extension': 'x2028', 'email': 'ghernande@classicmodelcars.com', 'officeCode': '4', 'reportsTo': 1102, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1401, 'lastName': 'Castillo', 'firstName': 'Pamela', 'extension': 'x2759', 'email': 'pcastillo@classicmodelcars.com', 'officeCode': '4', 'reportsTo': 1102, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1501, 'lastName': 'Bott', 'firstName': 'Larry', 'extension': 'x2311', 'email': 'lbott@classicmodelcars.com', 'officeCode': '7', 'reportsTo': 1102, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1504, 'lastName': 'Jones', 'firstName': 'Barry', 'extension': 'x102', 'email': 'bjones@classicmodelcars.com', 'officeCode': '7', 'reportsTo': 1102, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1611, 'lastName': 'Fixter', 'firstName': 'Andy', 'extension': 'x101', 'email': 'afixter@classicmodelcars.com', 'officeCode': '6', 'reportsTo': 1088, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1612, 'lastName': 'Marsh', 'firstName': 'Peter', 'extension': 'x102', 'email': 'pmarsh@classicmodelcars.com', 'officeCode': '6', 'reportsTo': 1088, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1619, 'lastName': 'King', 'firstName': 'Tom', 'extension': 'x103', 'email': 'tking@classicmodelcars.com', 'officeCode': '6', 'reportsTo': 1088, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1621, 'lastName': 'Nishi', 'firstName': 'Mami', 'extension': 'x101', 'email': 'mnishi@classicmodelcars.com', 'officeCode': '5', 'reportsTo': 1056, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1625, 'lastName': 'Kato', 'firstName': 'Yoshimi', 'extension': 'x102', 'email': 'ykato@classicmodelcars.com', 'officeCode': '5', 'reportsTo': 1621, 'jobTitle': 'Sales Rep'}, {'employeeNumber': 1702, 'lastName': 'Gerard', 'firstName': 'Martin', 'extension': 'x2312', 'email': 'mgerard@classicmodelcars.com', 'officeCode': '4', 'reportsTo': 1102, 'jobTitle': 'Sales Rep'}]
타입:  <class 'list'>

한 행이 딕션어리 형태로 리스트로 작성되어 있는 것을 확인할 수 있다.

In [41]:
#fetchone()
SQL = 'SELECT * FROM employees'
test_cursor.execute(SQL)         #execute를 사용하여서 sql문을 실행한다.

23

In [43]:
data = test_cursor.fetchone()
print("첫 번째 출력: ", data)
data = test_cursor.fetchone()
print("두 번째 출력: ", data)

첫 번째 출력:  {'employeeNumber': 1002, 'lastName': 'Murphy', 'firstName': 'Diane', 'extension': 'x5800', 'email': 'dmurphy@classicmodelcars.com', 'officeCode': '1', 'reportsTo': None, 'jobTitle': 'President'}
두 번째 출력:  {'employeeNumber': 1056, 'lastName': 'Patterson', 'firstName': 'Mary', 'extension': 'x4611', 'email': 'mpatterso@classicmodelcars.com', 'officeCode': '1', 'reportsTo': 1002, 'jobTitle': 'VP Sales'}

총 3가지의 반환 방법이 있다는 것을 위를 통해 알 수 있다.

<ol>
    <li>fetchall: 데이터에서 조회한 정보를 한 번에 반환하여준다.</li>
    <li>fetchone: 조회한 데이터들을 한 행씩 따로따로 반환하여 준다.</li>
    <li>fetchmany(n): 원하는 행 개수만큼 묶어서 반환하여 준다.</li>
</ol>

## 연결 종료

In [44]:
#DB 연결 종료
test_db.close()

조회가 아닌 삽입,갱신,삭제를 하였을 경우에는 Connection 객체를 commit 해주어야 한다.
하지 않으면 Rollback 현상이 일어나서 반영이 되지 않는다.

마지막으로 공통적으로 close를 통하여 데이터베이스와의 연결을 끊어준다.